# colorscheme
background_color #1e2030
custom_color_contrast 0.8
custom_color_mode_empty_background_color #1e2030
page_separator_color #1e2030
page_separator_width 10
custom_background_color #222436
custom_text_color #c8d3f5
search_highlight_color #fca7ea
status_bar_color #1e2030
status_bar_text_color #828bb8

# UI Font
ui_font IosevkaTerm Nerd Font
font_size 16
status_bar_font_size 14

# set up inverse search for VimTex?
# inverse_search_command wsl nvim --headless -c "VimtexInverseSearch %l '%f'"

# start up commands
startup_commands toggle_custom_color
